volumes:
  postgres_data:
  static:
  media:
  frontend_build:

services:
  db:
    image: postgres:16-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  backend:
    image: meltim/foodgram_backend:latest
    restart: always
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - db
    env_file:
      - .env

  frontend:
    image: meltim/foodgram_frontend:latest
    volumes:
      - frontend_build:/result_build

  gateway:
    image: meltim/foodgram_gateway:latest
    restart: always
    ports:
      - "8000:80"
    volumes:
      - frontend_build:/usr/share/nginx/html/
      - static:/var/html/static/
      - media:/var/html/media/
    depends_on:
      - backend
