volumes:
  postgres_data:
  static:
  media:

services:
  db:
    image: postgres:16-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  backend:
    image: ${DOCKER_USERNAME}/foodgram_backend:latest
    restart: always
    volumes:
      - static:/app/static
      - media:/app/media
    depends_on:
      - db
    env_file:
      - .env

  frontend:
    image: ${DOCKER_USERNAME}/foodgram_frontend:latest
    volumes:
      - static:/app/result_build/build

  gateway:
    image: ${DOCKER_USERNAME}/foodgram_gateway:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - static:/usr/share/nginx/html/static/
      - media:/var/html/media/
    depends_on:
      - backend
